openapi: 3.0.3
info:
  title: DataShare API
  version: 1.0.0
  description: |
    Contrat d'interface de l'application DataShare.
    Ce document décrit une première version de l'API REST à partir des maquettes
    de l'étape 1. Il couvre l'authentification, le téléversement de fichiers,
    la génération de liens de partage, le téléchargement public et l'espace
    personnel utilisateur.
  license:
    name: UNLICENSED

servers:
  - url: https://api.datashare.fr
    description: URL cible de l'API en production

tags:
  - name: Auth
    description: Authentification et gestion du compte
  - name: Users
    description: Informations sur l'utilisateur connecté
  - name: Files
    description: Téléversement, consultation et suppression des fichiers
  - name: ShareLinks
    description: Consultation et téléchargement via un lien public

paths:
  /auth/register:
    post:
      security: []
      tags:
        - Auth
      summary: Créer un compte utilisateur
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              default:
                summary: Exemple de création de compte
                value:
                  email: claire.marie@datashare.fr
                  password: StrongPassword123!
                  passwordConfirmation: StrongPassword123!
      responses:
        '201':
          description: Compte créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email déjà utilisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      security: []
      tags:
        - Auth
      summary: Connecter un utilisateur
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              default:
                summary: Exemple de connexion
                value:
                  email: claire.marie@datashare.fr
                  password: StrongPassword123!
      responses:
        '200':
          description: Connexion réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Identifiants invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users/me:
    get:
      tags:
        - Users
      summary: Récupérer le profil de l'utilisateur connecté
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profil retourné avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Utilisateur non authentifié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /files:
    post:
      security: []
      tags:
        - Files
      summary: Téléverser un fichier et générer un lien de partage
      description: |
        Cette route permet de téléverser un fichier depuis la page d'accueil.
        L'utilisateur peut être connecté ou non.
        Un mot de passe de partage et une durée d'expiration peuvent être
        ajoutés de manière optionnelle.
      operationId: uploadFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Fichier à téléverser
                sharePassword:
                  type: string
                  nullable: true
                  description: Mot de passe optionnel pour protéger le lien
                expirationDays:
                  type: integer
                  nullable: true
                  description: Nombre de jours avant expiration du lien
                  example: 7
            encoding:
              file:
                contentType: application/octet-stream
      responses:
        '201':
          description: Fichier téléversé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Requête invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Fichier trop volumineux
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - Files
      summary: Lister les fichiers de l'utilisateur connecté
      operationId: listOwnFiles
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          required: false
          description: Filtre d'état pour la liste des fichiers
          schema:
            type: string
            enum:
              - all
              - active
              - expired
            default: all
      responses:
        '200':
          description: Liste des fichiers retournée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FileListItem'
        '401':
          description: Utilisateur non authentifié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /files/{fileId}:
    delete:
      tags:
        - Files
      summary: Supprimer un fichier de l'espace personnel
      operationId: deleteFile
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: fileId
          required: true
          description: Identifiant du fichier à supprimer
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Fichier supprimé avec succès
        '401':
          description: Utilisateur non authentifié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Fichier introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /share-links/{token}:
    get:
      security: []
      tags:
        - ShareLinks
      summary: Consulter les informations d'un lien de partage
      operationId: getShareLink
      parameters:
        - in: path
          name: token
          required: true
          description: Token public du lien de partage
          schema:
            type: string
      responses:
        '200':
          description: Informations du lien de partage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareLinkPublic'
        '404':
          description: Lien introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Lien expiré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /share-links/{token}/download:
    post:
      security: []
      tags:
        - ShareLinks
      summary: Télécharger un fichier depuis un lien public
      operationId: downloadSharedFile
      parameters:
        - in: path
          name: token
          required: true
          description: Token public du lien de partage
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadRequest'
            examples:
              protected:
                summary: Exemple avec mot de passe
                value:
                  password: mon-mot-de-passe
      responses:
        '200':
          description: Fichier prêt à être téléchargé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '401':
          description: Mot de passe incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lien introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Lien expiré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - passwordConfirmation
      properties:
        email:
          type: string
          format: email
          example: claire.marie@datashare.fr
        password:
          type: string
          format: password
          minLength: 8
          example: StrongPassword123!
        passwordConfirmation:
          type: string
          format: password
          minLength: 8
          example: StrongPassword123!

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: claire.marie@datashare.fr
        password:
          type: string
          format: password
          example: StrongPassword123!

    DownloadRequest:
      type: object
      properties:
        password:
          type: string
          nullable: true
          description: Mot de passe du lien si une protection est active

    User:
      type: object
      required:
        - id
        - email
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AuthResponse:
      type: object
      required:
        - accessToken
        - user
      properties:
        accessToken:
          type: string
          description: Token JWT d'authentification
        user:
          $ref: '#/components/schemas/User'

    FileListItem:
      type: object
      required:
        - id
        - originalName
        - size
        - status
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        originalName:
          type: string
        size:
          type: integer
          format: int64
          example: 2860000
        mimeType:
          type: string
          example: image/jpeg
        shareToken:
          type: string
          nullable: true
        shareUrl:
          type: string
          format: uri
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum:
            - active
            - expired
        createdAt:
          type: string
          format: date-time

    UploadResponse:
      type: object
      required:
        - file
        - shareLink
      properties:
        file:
          $ref: '#/components/schemas/FileSummary'
        shareLink:
          $ref: '#/components/schemas/ShareLinkCreated'

    FileSummary:
      type: object
      required:
        - id
        - originalName
        - size
        - mimeType
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        ownerId:
          type: string
          format: uuid
          nullable: true
        originalName:
          type: string
        size:
          type: integer
          format: int64
        mimeType:
          type: string
        createdAt:
          type: string
          format: date-time

    ShareLinkCreated:
      type: object
      required:
        - id
        - token
        - url
        - passwordProtected
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
        url:
          type: string
          format: uri
          example: https://datashare.fr/uNh0vr
        expiresAt:
          type: string
          format: date-time
          nullable: true
        passwordProtected:
          type: boolean
        createdAt:
          type: string
          format: date-time

    ShareLinkPublic:
      type: object
      required:
        - fileName
        - fileSize
        - passwordRequired
        - status
      properties:
        fileName:
          type: string
        fileSize:
          type: integer
          format: int64
        message:
          type: string
          nullable: true
          description: Message informatif affiché sur la page publique
        expiresAt:
          type: string
          format: date-time
          nullable: true
        passwordRequired:
          type: boolean
        status:
          type: string
          enum:
            - active
            - expired

    DownloadResponse:
      type: object
      required:
        - downloadUrl
        - fileName
      properties:
        downloadUrl:
          type: string
          format: uri
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int64

    ErrorResponse:
      type: object
      required:
        - statusCode
        - message
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: La requête est invalide.
